{#{% extends "base.html.twig" %}

{% block title %}
    Вакансий в категории {{ category.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="one-category">
        <div class="feed">
            <a href="">Feed</a>
        </div>
        <h1>{{ category.name }}</h1>
    </div>

    {{ include ('job/list.html.twig', {'jobs': category.activejobs}) }}
{% endblock %}#}
{% extends 'base.html.twig' %}

{% block title %}
    Вакансии в категории {{ category.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appjoboard/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="category">
        <div class="feed">
            <a href="">Feed</a>
        </div>
        <h1>{{ category.name }}</h1>
    </div>

    {{ include ('job/list.html.twig', {'jobs': category.activejobs}) }}

    {% if lastPage > 1 %}
        <div class="pagination">
            <a href="{{ path('category', {'slug': category.slug, 'page': 1}) }}">
                В начало
            </a>

            <a href="{{ path('category', {'slug': category.slug, 'page': previousPage }) }}">
                &lt;&lt;
            </a>

            {% for page in 1..lastPage %}
                {% if page == currentPage %}
                    {{ page }}
                {% else %}
                    <a href="{{ path('category', {'slug': category.slug, 'page': page}) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            <a href="{{ path('category', {'slug': category.slug, 'page': nextPage}) }}">
                &gt;&gt;
            </a>

            <a href="{{ path('category', {'slug': category.slug, 'page': lastPage}) }}">
                В конец
            </a>
        </div>
    {% endif %}

    <div class="pagination_desc">
        <strong>{{ totalJobs }}</strong> вакансии в категории
        {% if lastPage > 1 %}
            - страница <strong>{{ currentPage }}/{{ lastPage }}</strong>
        {% endif %}
    </div>
{% endblock %}
