{#{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all">
{% endblock %}

{% block content %}
<table class="records_list table table-bordered">
    <thead>
        <tr>
            <th>Адрес</th>
            <th>Вакансия</th>
            <th>Компания</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(["even", "odd"], loop.index) }}">
            <td>{{ entity.location }}</td>
            <td><a href="{{ path('job_show', {'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug}) }}">{{ entity.position }}</a></td>
            <td>{{ entity.company }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
#}

{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all">
{% endblock %}

{% block content %}
<div id="jobs">
    {% for category in categories %}
        <div>
            <div class="category">
                <div class="feed">
                    <a href="">Feed</a>
                </div>
                <h1><a href="{{ path('category', {'slug': category.slug}) }}">{{ category.name }}</a></h1>
            </div>
            {#<table class="jobs">                
                {% for entity in category.activejobs %}
                    <tr class="{{ cycle(["even", "odd"], loop.index) }}">
                        <td class="location">{{ entity.location }}</td>
                        <td class="position">
                            <a href="{{ path('job_show', {'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug}) }}">{{ entity.position }}</a></td>
                        <td class="company">{{ entity.company }}</td>
                    </tr>
                {% endfor %}                
            </table>#}
            {{ include ('job/list.html.twig', {'jobs': category.activejobs}) }}
            {% if category.morejobs %}
                <div class="more-jobs text-right">
                    и <a href="{{ path('category', {'slug': category.slug}) }}">{{ category.morejobs }}</a> ещё вакансии...
                </div>
            {% endif %}
        </div>    
    {% endfor %}
</div>    
{% endblock %}
